@import "../style/theme";
@import "../style/keyframes";
@import "./styles/keyframe";
@import "./styles/common";

@loading: ~'@{antd-ext-prefix}-spin';

@roll-loading: ~'@{antd-ext-prefix}-spin-roll';
.@{roll-loading} {
  .main();

  &.@{roll-loading}-small {
    .@{roll-loading}-item {
      width: 24px;
      height: 24px;

      &:before {
        top: 31px;
        height: 3px;
      }

      &:after {
        animation: roll-rotate-and-bound-sm .5s linear infinite;
      }
    }
  }

  &.@{roll-loading}-large {
    .@{roll-loading}-item {
      width: 48px;
      height: 48px;

      &:before {
        height: 4px;
        top: 58px;
      }

      &:after {
        animation: roll-rotate-and-bound-lg .5s linear infinite;
      }
    }
  }

  &-item {
    margin: auto;
    position: absolute;
    width: 36px;
    height: 36px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 4;

    &:before {
      content: '';
      width: inherit;
      height: 3px;
      background: rgba(177, 177, 177, 0.7);
      position: absolute;
      top: 46px;
      left: 0;
      border-radius: 50%;
      animation: shadow .5s linear infinite;
    }

    &:after {
      content: '';
      width: inherit;
      height: inherit;
      background: @primary-color;
      animation: roll-rotate-and-bound .5s linear infinite;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 3px;
    }
  }
}


@cube-loading: ~'@{antd-ext-prefix}-spin-cube-gird';
.@{cube-loading} {
  .main();

  &-mask {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.@{cube-loading}-large {
    .@{cube-loading}-item {
      width: 48px;
      height: 48px;
    }
  }

  &.@{cube-loading}-small {
    .@{cube-loading}-item {
      width: 24px;
      height: 24px;
    }
  }

  &-item {
    width: 36px;
    height: 36px;

    .@{cube-loading}-cube-item {
      width: 33.3333%;
      height: 33.3333%;
      background-color: @primary-color;
      float: left;
      animation: cube-grid-scale 2s infinite ease-in-out;

      &:nth-child(1) {
        animation-delay: 0s;
      }

      &:nth-child(2), &:nth-child(4) {
        animation-delay: 0.1s;
      }

      &:nth-child(3), &:nth-child(5), &:nth-child(7) {
        animation-delay: 0.2s;
      }

      &:nth-child(6), &:nth-child(8) {
        animation-delay: 0.3s;
      }

      &:nth-child(9) {
        animation-delay: 0.4s;
      }
    }
  }
}
