@import "../style/theme";
@import "../style/keyframes";
@import "styles/keyframe";
@import "styles/mixin";

@loading: ~'@{antd-ext-prefix}-spin';

.@{loading} {
  position: relative;

  &-container {
    opacity: 1;
    transition: opacity .3s;
  }

  &-spin-blur {
    clear: both;
    overflow: hidden;
    opacity: .5;
    user-select: none;
    pointer-events: none;
  }

  &-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    max-height: 400px;
    z-index: 4;
    animation: show .3s ease-in-out forwards;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@roll-loading: ~'@{loading}-roll';
.@{roll-loading} {
  &-box {
    margin: auto;
    position: absolute;
    width: 36px;
    height: 36px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 4;

    &:before {
      content: '';
      width: inherit;
      height: 3px;
      background: rgba(177, 177, 177, 0.7);
      position: absolute;
      top: 46px;
      left: 0;
      border-radius: 50%;
      animation: shadow .5s linear infinite;
    }

    &:after {
      content: '';
      width: inherit;
      height: inherit;
      background: @primary-color;
      animation: roll-rotate-and-bound .5s linear infinite;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 3px;
    }
  }

  &.@{roll-loading}-small {
    .@{roll-loading}-box {
      width: 24px;
      height: 24px;

      &:before {
        top: 31px;
        height: 3px;
      }

      &:after {
        animation: roll-rotate-and-bound-sm .5s linear infinite;
      }
    }
  }

  &.@{roll-loading}-large {
    .@{roll-loading}-box {
      width: 48px;
      height: 48px;

      &:before {
        height: 4px;
        top: 58px;
      }

      &:after {
        animation: roll-rotate-and-bound-lg .5s linear infinite;
      }
    }
  }
}

@cube-loading: ~'@{loading}-cube-gird';
.@{cube-loading} {
  &-box {
    .default-size();

    .@{cube-loading}-cube-item {
      width: 33.3333%;
      height: 33.3333%;
      background-color: @primary-color;
      float: left;
      animation: cube-grid-scale 2s infinite ease-in-out;

      &:nth-child(1) {
        animation-delay: 0s;
      }

      &:nth-child(2), &:nth-child(4) {
        animation-delay: 0.1s;
      }

      &:nth-child(3), &:nth-child(5), &:nth-child(7) {
        animation-delay: 0.2s;
      }

      &:nth-child(6), &:nth-child(8) {
        animation-delay: 0.3s;
      }

      &:nth-child(9) {
        animation-delay: 0.4s;
      }
    }
  }

  .large-size(@cube-loading);
  .small-size(@cube-loading);
}

@cube-fill: ~'@{loading}-cube-fill';
.@{cube-fill} {
  &-box {
    .default-size();
    border: 4px solid @primary-color;
    animation: cube-fill-rotate 4s infinite ease;

    .@{cube-fill}-inner {
      background-color: @primary-color;
      animation: cube-fill-height 4s infinite ease-in;
    }
  }

  .large-size(@cube-fill);
  .small-size(@cube-fill);
}

@dot-bound: ~'@{loading}-dot-bound';
.@{dot-bound} {
  &-box {
    text-align: center;

    .@{dot-bound}-dot {
      display: inline-block;
      margin: 0 2px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: @primary-color;
      animation: dot-bound-item 2s infinite ease;

      &:nth-child(2) {
        animation-delay: .2s;
      }

      &:nth-child(3) {
        animation-delay: .4s;
      }

      &:nth-child(4) {
        animation-delay: .6s;
      }
    }
  }

  &.@{dot-bound}-small {
    .@{dot-bound}-dot {
      width: 4px;
      height: 4px;
    }
  }

  &.@{dot-bound}-large {
    .@{dot-bound}-dot {
      width: 12px;
      height: 12px;
    }
  }
}
