/.idea
/components
/node_modules
/public
/scripts
.editorconfig
.env
.eslintignore
.gitignore
.npmignore
.prettierignore
.prettierrc.js
.stylelintrc.js
tsconfig.build.json
tsconfig.dist.json
tsconfig.es5.json
tsconfig.json
yarn.lock
/.umi
/.umi-production
/doc-dist
/doc
.umirc.ts
gulpfile.js

