/.idea
/.vscode
/components
/coverage
/node_modules
/public
/scripts
.editorconfig
.env
.eslintignore
.gitignore
.npmignore
.prettierignore
.prettierrc.js
.stylelintrc.js
tsconfig.build.json
tsconfig.dist.json
tsconfig.es5.json
tsconfig.json
yarn.lock
/.umi
/.umi-production
/docs
/doc
/tests
.umirc.ts
gulpfile.js

npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
npm.lock
jest.config.js

