**/*.svg
package.json
.umi
.umi-production
/dist
/doc
/docs
/es
/lib
/node_modules
/public
/tests
.editorconfig
.env
.eslintignore
.gitignore
.npmignore
.prettierignore
.prettier.js
.stylelintrc.js
.umirc.ts
gulpfile.js
jest.config.js
*.json
*.lock

.dockerignore
.DS_Store

*.png
*.toml
docker
Dockerfile*

LICENSE
.eslintcache

yarn-error.log
.history
CNAME
