@import "../style/theme";
@import "../style/keyframes";

@year-picker: ~'@{antd-ext-prefix}-year-picker';


.picker-padding(@input-height, @font-size, @padding-horizontal) {
  // font height probably 22.0001， So use floor better
  @font-height: floor(@font-size * @line-height-base) + 2;
  @padding-top: max(((@input-height - @font-height) / 2), 0);
  @padding-bottom: max(@input-height - @font-height - @padding-top, 0);
  padding: @padding-top @padding-horizontal @padding-bottom;
}

.@{year-picker} {
  .picker-padding(@input-height-base, @font-size-base, @input-padding-horizontal-base);
  display: inline-flex;
  border: @border-width-base @border-style-base @select-border-color;
  border-radius: @border-radius-base;
  transition: border @animation-duration-slow, box-shadow @animation-duration-slow;

  &:hover, &-focused {
    border-color: @primary-color;
  }

  &-focused {
    box-shadow: 0 0 0 2px rgba(24, 144, 255, .2);
    outline: 0;
  }

  &-dropdown {
    position: absolute;
    z-index: 1060;

    &-hidden {
      display: none;
    }

    &.slide-up-enter.slide-up-enter-active&-placement-topLeft,
    &.slide-up-enter.slide-up-enter-active&-placement-topRight,
    &.slide-up-appear.slide-up-appear-active&-placement-topLeft,
    &.slide-up-appear.slide-up-appear-active&-placement-topRight {
      animation-name: antSlideDownIn;
    }

    &.slide-up-enter.slide-up-enter-active&-placement-bottomLeft,
    &.slide-up-enter.slide-up-enter-active&-placement-bottomRight,
    &.slide-up-appear.slide-up-appear-active&-placement-bottomLeft,
    &.slide-up-appear.slide-up-appear-active&-placement-bottomRight {
      animation-name: antSlideUpIn;
    }

    &.slide-up-leave.slide-up-leave-active&-placement-topLeft,
    &.slide-up-leave.slide-up-leave-active&-placement-topRight {
      animation-name: antSlideDownOut;
    }

    &.slide-up-leave.slide-up-leave-active&-placement-bottomLeft,
    &.slide-up-leave.slide-up-leave-active&-placement-bottomRight {
      animation-name: antSlideUpOut;
    }
  }

  &-year-panel, &-decade-panel {
    background-color: @white;
    border-radius: @border-radius-base;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 8px rgba(0, 0, 0, .15);
  }

  &-header {
    display: flex;
    padding: 8px;

    .@{year-picker}-decade-btn {
      font-size: 16px;

      &:hover {
        color: @primary-color;
      }
    }

    &-super-prev-btn, &-super-next-btn {
      opacity: .4;

      &:hover {
        opacity: .8;
      }
    }

    & button {
      border: none;
      cursor: pointer;
      background-color: white;
    }

    &-view {
      flex: 1;
      text-align: center;
    }
  }

  &-content {
    .@{year-picker}-cell {
      width: 80px;
      height: 48px;
      text-align: center;

      &-start, &-end {
        color: rgba(0, 0, 0, .25);
      }

      &-selected div {
        color: white !important;
        background-color: @primary-color !important;
      }

      &:hover > div {
        background-color: #e6f7ff;
      }

      &-in-view {
        color: rgba(0, 0, 0, .85);
      }

      &-inner {
        display: inline-block;
        padding: 0 4px;
        line-height: 24px;
        cursor: pointer;
        border-radius: @border-radius-base;
      }
    }
  }

  &-input {
    position: relative;

    input {
      border: none;

      &::-moz-placeholder {
        opacity: 1; // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526
      }

      &::placeholder {
        color: @input-placeholder-color;
      }

      &:placeholder-shown {
        text-overflow: ellipsis;
      }

      :focus-visible {
        outline: none !important;
      }
    }

    .@{year-picker}-clear {
      position: absolute;
      top: 50%;
      right: 4px;
      color: rgba(0, 0, 0, 0.25);
      line-height: 1;
      font-size: 12px;
      background: #fff;
      transform: translateY(-50%);
      cursor: pointer;
      opacity: 0;
      transition: opacity 0.3s, color 0.3s;
    }

    &:hover {
      .@{year-picker}-clear {
        opacity: 1;
      }
    }
  }

  &&-disabled {
    cursor: not-allowed;
    background: @input-disabled-bg;
    border-color: @select-border-color;

    input[disabled] {
      cursor: not-allowed;
    }
  }

  &-large {
    .picker-padding(@input-height-lg, @font-size-lg, @input-padding-horizontal-lg);

    .@{year-picker}-input > input {
      font-size: @font-size-lg;
    }
  }

  &-small {
    .picker-padding(@input-height-sm, @font-size-base, @input-padding-horizontal-sm);
  }
}


